
---
- name: Gitlab-ce install
  hosts: all
  become: yes

  vars:
          git0: gitlab-ce
          
  tasks:
  - name: Ping my servers
    ping:

  - name: Update_apt_cache
    apt:
            update_cache=yes

  - name: Install packages
    apt: name={{ item }} state=present
    loop:
            - curl
            - gnupg

  - name: apt-key add
    apt_key:
            url: https://packages.gitlab.com/gitlab/gitlab-ce/gpgkey
            state: present

    #    shell: curl -L https://packages.gitlab.com/gitlab/gitlab-ce/gpgkey | apt-key add -

  - name: Update_apt_cache
    apt:
          update_cache=yes

  - name: Install packages
    apt: name={{ item }} state=present
    loop:
            - apt-transport-https

              #  - name: add repository
  - apt_repository:
          repo: deb https://packages.gitlab.com/gitlab/gitlab-ce/ubuntu {{ ansible_distribution_release }} partner
          state: present      
         

              #  - name: add config file
              #    shell: echo deb https://packages.gitlab.com/gitlab/gitlab-ce/ubuntu/ xenial main > /etc/apt/sources.list.d/gitlab_gitlab-ce.list

  - name: Install gitlab-ce
    apt: name={{ git0 }} state=present
    
  - name: edit_file  
    replace:

               path: /etc/gitlab/gitlab.rb
               regexp: "'external_url http://gitlab.example.com'"
               replace: "'external_url http://gitlab.{{ ansible_default_ipv4.address }}'"  
 
   - name: gitlab_reconfigure
     shell: gitlab-ctl reconfigure

    #  - name: Start gitlab-ce and enable in the boot
    #    service: name=gitlab-ctl state=started enabled=yes
    


